.composition{
    position: relative;
   
    &__photo{
        width: 60%;
        box-shadow: 0 2rem 3rem rgba($color-black,0.4);
        border-radius: 2px;
        transition: all 0.2s ease-out;
        @include Respond (tab_port){
            width: 80%;
        }
        @include Respond(phone){
            width: 60%;
        }
        &--p1{
            position: absolute;
            top: -12.5rem;
            left: 6rem;
            z-index: 1;
            @include Respond(tab_port){
                position: inherit;
                top: 0rem;
                left: 3rem;
                z-index: 1;
            }
            @include Respond(phone){
                position: inherit;
                top: -3.1rem;
                left: 6.5rem;

            }
            &:hover{
                z-index: 4;
                transform: scale(1.05);
                box-shadow: 0 2.5rem 3.5rem rgba($color-black,0.4);
            }
        }
        &--p2{
            position: absolute;
            top: 12rem;
            left: -5.5rem;
            z-index: 3;
            @include Respond(tab_port){
                position: inherit;
                top: -12rem;
                left: -18rem;
                z-index: 0;
            }
            @include Respond(phone){
                position: inherit;
                top: -6rem;
                left: -1rem;
            }
            &:hover{
                z-index: 4;
                transform: scale(1.2);
            }
        }
        &--p3{
            position: absolute;
            right: 0rem;
            top: 9rem;
            z-index: 2;
            @include Respond(tab_port){
                position: inherit;
                top: -30rem;
                right: -27rem;
                z-index: 3;
            }
            @include Respond(phone){
                position: inherit;
                top: -9rem;
                right: -15rem;
            }
            &:hover{
                z-index: 4;
                transform: scale(1.2); 
            }
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.95);
        filter: blur(1px) brightness(80%);;
        -webkit-filter: blur(1px) brightness(80%);;
    }
}