.feature-box{
        background-color: rgba($color-white, .7);
        font-size: 1.5rem;
        padding: 2.5rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 2rem 3rem rgba( rgb(0, 0, 0),.2);
    &:hover{
        transition: all 0.3s ;
        transform: translateY(-2rem) scale(1.05);
        box-shadow: 0 3rem 4rem rgba( rgb(0, 0, 0),.2);
    }
    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        background-clip: text;
        background-image: linear-gradient(
            to right,
            $color-primary,
            $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
        
    }

}